.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  overflow: auto;
}

.component {
  color: black;
  font-size: 16px;
  height: 10rem;
  min-width: 10rem;
  margin: 1rem;
  flex: 0;
  background: none;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.component.locked {
  border: 0.25rem solid black;
  padding: 0.25rem;
}

.component.enabled {
  border: 0.25rem dashed black;
  padding: 0.25rem;
}

.inactive .component {
  color: darkgray;
  border-color: darkgray;
}

.component:disabled {
  cursor: auto;
}
