.carousel {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 0.3rem 0;
  border-radius: 1rem;
  /* Scroll Shadow */
  background: linear-gradient(90deg, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(90deg, rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)) 0 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: top left, top right, top left, top right;
  background-size: 2.5rem 100%, 2.5rem 100%, 1.25rem 100%, 1.25rem 100%;
  background-attachment: local, local, scroll, scroll;
}

.carousel:focus-visible {
  outline: 0.15rem dotted black;
  border-radius: 1rem;
}

.faction {
  font-size: 1rem;
  flex: 0 0;
  display: flex;
  flex-direction: column;
  background: none;
  border-radius: 1rem;
  padding: 0.1rem;
  cursor: pointer;
  height: 9rem;
  min-width: 9rem;
  color: black;
  margin: 0 0.3rem;
  mix-blend-mode: multiply;
  will-change: opacity;
  /* Transitioned properties */
  outline: 0.15rem solid transparent;
  outline-offset: 0;
  border: 0.15rem dotted transparent;
  background-color: white;
  transition-property: outline, outline-offset, border, background-color;
  transition-duration: 80ms;
  transition-timing-function: ease-out;
}

@media (prefers-reduced-motion) {
  .faction {
    transition: none;
  }
}

.faction:focus-visible {
  border-color: black;
  outline-offset: 0.15rem;
}

.faction.selected {
  outline-color: black;
}

.faction:hover {
  background-color: ivory;
}

.faction:active {
  background-color: cornsilk;
}

.faction.locked {
  background-color: gainsboro;
}

.faction.locked,
.faction:disabled {
  cursor: auto;
  color: darkgray;
}

.faction:disabled {
  background-color: transparent;
}

.faction:disabled.selected {
  outline-color: darkgray;
}

.image {
  width: 5rem;
  height: 5rem;
  flex: 0 0;
  margin: 0.25rem auto;
  /* Transitioned properties */
  transition-property: filter;
  transition-duration: inherit;
  transition-timing-function: inherit;
}

.faction.locked .image {
  filter: grayscale(50%);
}

.faction:disabled .image {
  filter: grayscale();
}

.icon {
  height: 1rem;
}

.title {
  flex: 1 0;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.faction:not(:disabled) .title {
  color: white;
  background-color: #5a5b5f;
}

.faction.militant:not(:disabled) .title {
  color: white;
  background-color: #a4153b;
}

.label {
  margin: 0 0.1rem;
}

.factionInfo {
  display: flex;
  flex-direction: column;
}

.componentCounts {
  max-width: 100%;
  overflow: auto;
}

.componentCounts,
.stats {
  display: flex;
  flex-direction: row;
}

.stats {
  margin: 0.75rem 0 0.5rem;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .faction {
    height: 10.5rem;
    min-width: 10.5rem;
  }

  .image {
    width: 6rem;
    height: 6rem;
  }

  .title {
    border-radius: 1rem;
  }

  .label {
    margin: 0 0.25rem;
  }

  .factionInfo {
    flex-direction: row;
  }

  .stats {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.summaryTitle {
  size: 2rem;
  margin: 0.5rem 0;
}
