.button {
  background-color: ivory;
  border: none;
  font-size: 1.5rem;
  font-style: italic;
  cursor: pointer;
  border-radius: 0.5rem;
  outline-offset: -0.15rem;
  /* Transitioned properties */
  color: black;
  border-bottom: 0.15rem black solid;
  outline: 0.15rem dotted transparent;
  transition-property: background-color, color, border, outline;
  transition-duration: 80ms;
  transition-timing-function: ease-out;
}

@media (prefers-reduced-motion) {
  .button {
    transition: none;
  }
}

.button:hover {
  background-color: white;
}

.button:active {
  background-color: cornsilk;
}

.button.disabled {
  cursor: auto;
  color: darkgray;
  border-bottom-color: transparent;
  background-color: ivory;
}

.button:focus-visible {
  outline-color: black;
}

.icon {
  height: 1rem;
}

.labelLeft {
  margin-right: 0.3rem;
}

.labelRight {
  margin-left: 0.3rem;
}

@media (min-width: 992px) {
  .button {
    border-radius: 0.66rem;
    font-size: 2rem;
    border-bottom: 0.2rem black solid;
    outline: 0.2rem dotted transparent;
  }

  .icon {
    height: 1.5rem;
  }

  .labelLeft {
    margin-right: 0.5rem;
  }

  .labelRight {
    margin-left: 0.5rem;
  }
}
