.container {
  flex: 1 0;
  max-width: 100%;
  margin: 0 auto 3rem auto;
}

@media (min-width: 992px) {
  .container {
    margin-bottom: 4rem;
  }
}

@media (min-width: 80rem) {
  .container {
    max-width: 80rem;
  }
}
