.container {
  margin-top: 0.75rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: none;
  padding: 0;
}

.option {
  display: flex;
}

.option:not(:first-child) {
  margin-top: 0.5rem;
}

.radio {
  cursor: pointer;
  flex: none;
  /* Override the default radio appearance */
  appearance: none;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid black;
  border-radius: 50%;
  transform: translateY(0.16rem);
  display: grid;
  place-content: center;
  background-color: transparent;
  transition: 80ms background-color ease-out;
}

@media (prefers-reduced-motion) {
  .radio {
    transition: none;
  }
}

.radio:hover:not(:disabled) {
  background-color: ivory;
}

.radio:active:not(:disabled) {
  background-color: beige;
}

.radio:disabled {
  border-color: darkgray;
  cursor: auto;
}

.radio:focus-visible {
  outline: 0.15rem dotted black;
  outline-offset: 0.05rem;
}

.radio::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  clip-path: polygon(14% 44%, 0% 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  box-shadow: inset 1rem 1rem transparent;
  transition-property: box-shadow;
  transition-duration: inherit;
  transition-timing-function: inherit;
}

@media (forced-colors: active) {
  .radio::before {
    background-color: CanvasText;
  }
}

.radio:checked::before {
  box-shadow: inset 1rem 1rem black;
}

.radio:disabled::before {
  box-shadow: inset 1rem 1rem darkgray;
}

.label {
  cursor: pointer;
  padding-left: 0.5rem;
}

@media (min-width: 992px) {
  .container {
    flex-direction: row;
  }

  .option:not(:first-child) {
    margin-top: 0;
  }

  .option:not(:last-child) .label {
    padding-right: 0.5rem;
  }
}

.inactive .radio::before {
  transition: none;
}

.inactive .label {
  cursor: auto;
}
