.container {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.toolbar {
  width: 80rem;
  padding: 1rem;
}

.button {
  cursor: pointer;
}

.button:disabled {
  cursor: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}
