.anchor {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.toolbar {
  width: 80rem;
  padding: 1rem;
}

.microbutton {
  float: left;
}

.fullbutton {
  float: right;
}
