.step {
  margin-top: 1rem;
  line-height: 1.5rem;
}

.step.inactive {
  color: darkgray;
}

.title {
  font-weight: 400;
  font-variant: small-caps;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
