.step {
  line-height: 1.5rem;
  margin: 1rem;
}

.step.inactive {
  color: darkgray;
}

.step p {
  margin: 0.5rem 0;
}

.title {
  line-height: 2.2rem;
  font-weight: 400;
  font-variant: small-caps;
  margin: 0 0 0.5rem;
}

.subtitle {
  font-size: 1rem;
  margin: 0 0 0.5rem;
}
