.button {
  background-color: ivory;
  border: none;
  font-size: 1.5rem;
  font-style: italic;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 0.5rem;
  outline-offset: -0.15rem;
  /* Transitioned properties */
  color: black;
  border-bottom: 0.15rem black solid;
  outline: 0.15rem dotted transparent;
  transition-property: background-color, color, border, outline;
  transition-duration: 80ms;
  transition-timing-function: ease-out;

  &:hover {
    background-color: white;
  }

  &:active {
    background-color: cornsilk;
  }

  &.disabled {
    cursor: auto;
    color: darkgray;
    border-bottom-color: transparent;
    background-color: ivory;
  }

  &:focus-visible {
    outline-color: black;
  }

  > .label-icon {
    height: 1rem;
  }

  > .label {
    &.left {
      margin-right: 0.3rem;
    }

    &.right {
      margin-left: 0.3rem;
    }
  }
}

@mixin large-screen {
  .button {
    border-radius: 0.66rem;
    font-size: 2rem;
    border-bottom: 0.2rem black solid;
    outline: 0.2rem dotted transparent;

    > .label-icon {
      height: 1.5rem;
    }

    > .label {
      &.left {
        margin-right: 0.5rem;
      }

      &.right {
        margin-left: 0.5rem;
      }
    }
  }
}

@mixin reduced-motion {
  .button {
    transition: none;
  }
}
