.button {
  background-color: ivory;
  border: none;
  font-size: 1.5rem;
  font-style: italic;
  cursor: pointer;
  border-radius: 0.5rem;
  outline-offset: -0.15rem;
  /* Transitioned properties */
  color: black;
  border-bottom: 0.15rem black solid;
  outline: 0.15rem dotted transparent;
  transition-property: background-color, color, border, outline;
  transition-duration: 80ms;
  transition-timing-function: ease-out;
}

.button:hover {
  background-color: white;
}

.button:active {
  background-color: cornsilk;
}

.button.disabled {
  cursor: auto;
  color: darkgray;
  border-bottom-color: transparent;
  background-color: ivory;
}

.button:focus-visible {
  outline-color: black;
}

.button-icon {
  height: 1rem;
}

.button > .label-left {
  margin-right: 0.3rem;
}

.button > .label-right {
  margin-left: 0.3rem;
}
