@use 'section';

.button {
  background-color: ivory;
  border: none;
  border-block-end: 2px black solid;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  font-style: italic;
  inline-size: fit-content;
  outline: 2px dotted transparent;
  outline-offset: -2px;
  pointer-events: auto;
  transition-property: background-color, color, border, outline;
  transition-duration: 80ms;
  transition-timing-function: ease-out;

  &:hover {
    background-color: white;
  }

  &:active {
    background-color: cornsilk;
  }

  &.disabled {
    background-color: ivory;
    border-block-end-color: transparent;
    color: darkgray;
    cursor: auto;
  }

  &:focus-visible {
    outline-color: black;
  }

  > .label-icon {
    block-size: 1rem;
  }

  > .label {
    &.left {
      margin-inline-end: 0.3rem;
    }

    &.right {
      margin-inline-start: 0.3rem;
    }
  }

  @include section.heading-width-breakpoint {
    border-block-end: 3px black solid;
    border-radius: 11px;
    font-size: 2rem;
    outline: 3px dotted transparent;

    > .label-icon {
      block-size: 1.5rem;
    }

    > .label {
      &.left {
        margin-inline-end: 0.5rem;
      }

      &.right {
        margin-inline-start: 0.5rem;
      }
    }
  }
}
