@use 'section';

.captain-info {
  flex: 1 0;
  margin: 0;
  max-inline-size: 16rem;
  min-inline-size: 10rem;

  > .name {
    display: flex;
    flex-direction: column;
    align-items: center;

    > img {
      inline-size: 48px;
      block-size: 48px;
      filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(0%);

      section.inactive & {
        filter: drop-shadow(1px 1px rgba(169, 169, 169, 0.5)) grayscale(100%);
      }

      @include section.heading-width-breakpoint {
        inline-size: 80px;
        block-size: 80px;
      }
    }

    > h5 {
      font-size: 1rem;
      margin-block: 0.5rem 0;
    }
  }
}
