.checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
  inline-size: fit-content;
  margin-block: 0.5rem 0;

  &:has(input:disabled) {
    cursor: auto;
  }

  > input {
    // Override the default checkbox appearance
    appearance: none;
    background-color: transparent;
    block-size: 16px;
    border: 2px solid black;
    border-radius: 3px;
    display: grid;
    inline-size: 16px;
    place-content: center;
    transition: 80ms background-color ease-out;

    &::before {
      block-size: 10px;
      box-shadow: inset 1rem 1rem transparent;
      clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
      );
      content: '';
      inline-size: 10px;
      transition-duration: inherit;
      transition-property: box-shadow;
      transition-timing-function: inherit;

      @media (forced-colors: active) {
        background-color: CanvasText;
      }
    }

    &:checked::before {
      box-shadow: inset 1rem 1rem black;
    }

    &:disabled {
      border-color: darkgray;

      &::before {
        box-shadow: inset 1rem 1rem darkgray;
        transition: none;
      }
    }

    &:focus-visible {
      outline: 2px dotted black;
      outline-offset: 1px;
    }

    &:hover:not(:disabled) {
      background-color: white;
    }
  }

  > .text {
    max-inline-size: 65ch;
    padding-inline-start: 0.55rem;
  }
}
