.checkbox {
  display: flex;
  margin-block: 0.5rem 0;
  margin-inline-start: 1.2rem;
  align-items: flex-start;

  > input {
    cursor: pointer;
    /* Override the default checkbox appearance */
    appearance: none;
    display: grid;
    place-content: center;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 3px;
    transform: translateY(0.2rem);
    background-color: transparent;
    transition: 80ms background-color ease-out;

    &:hover:not(:disabled) {
      background-color: white;
    }

    &:checked::before {
      box-shadow: inset 1rem 1rem black;
    }

    &:disabled {
      border-color: darkgray;
      cursor: auto;

      &::before {
        box-shadow: inset 1rem 1rem darkgray;
        transition: none;
      }

      + label {
        cursor: auto;
      }
    }

    &:focus-visible {
      outline: 2px dotted black;
      outline-offset: 1px;
    }

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
      );
      box-shadow: inset 1rem 1rem transparent;
      transition-property: box-shadow;
      transition-duration: inherit;
      transition-timing-function: inherit;
    }
  }

  > label {
    max-width: 65ch;
    padding-inline-start: 0.55rem;
    cursor: pointer;
  }
}

@mixin reduced-motion {
  .checkbox > input {
    transition: none;
  }
}

@mixin forced-colors {
  .checkbox > input::before {
    background-color: CanvasText;
  }
}
