@use 'section';

@mixin transition {
  transition-duration: 80ms;
  transition-timing-function: ease-out;
}

.component-setup-select {
  @include section.full-width;
  @include section.layout;

  // * Default layout: Scrollable list that takes up 1 row * //
  > .component-select {
    @include section.text-width;
    @include transition;
    // Scroll Shadow
    background:
      linear-gradient(90deg, ivory 30%, rgba(255, 255, 255, 0)),
      linear-gradient(90deg, rgba(255, 255, 255, 0), ivory 70%) 0 100%,
      radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)),
      radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)) 0 100%;
    background-attachment: local, local, scroll, scroll;
    background-color: ivory;
    background-position:
      top left,
      top right,
      top left,
      top right;
    background-repeat: no-repeat;
    background-size:
      40px 100%,
      40px 100%,
      20px 100%,
      20px 100%;
    // Only scale ~2/3rds of the height with text size, since the images should ideally remain constantly sized
    block-size: calc(48px + 5rem);
    border-radius: 8px;
    column-gap: 3px;
    display: grid;
    grid-auto-columns: 8rem;
    grid-auto-flow: column;
    grid-template-rows: calc(48px + 5rem);
    margin-block: 0.6rem;
    margin-inline-start: 3px;
    outline: 2px dotted transparent;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 6px;
    transition-property: outline-color;

    @supports (overflow-block: hidden) and (overflow-inline: scroll) {
      overflow-x: unset;
      overflow-y: unset;
      overflow-block: hidden;
      overflow-inline: scroll;
    }

    &:focus-visible {
      outline-color: black;
    }

    label {
      @include transition;
      border: 2px dotted transparent;
      border-radius: 8px;
      color: black;
      display: grid;
      grid-template-rows: 0 minmax(0, 1fr) auto;
      justify-items: center;
      // Account for outline position while focused
      margin: 5px;
      outline: 3px solid transparent;
      outline-offset: 0;
      transition-property: background-color, color, outline, outline-offset, border;

      &:has(> input:checked) {
        outline-color: black;
      }

      &:has(> input:focus-visible) {
        outline-offset: 2px;
        border-color: black;
      }

      section.active & {
        cursor: pointer;

        &:hover {
          background-color: white;
        }
      }

      section.inactive & {
        color: darkgray;
        transition: none;

        &:has(> input:checked) {
          outline-color: darkgray;
        }

        > img {
          filter: drop-shadow(1px 1px rgba(169, 169, 169, 0.5)) grayscale(100%);
        }
      }

      // Component Image
      > img {
        @include transition;
        box-sizing: border-box;
        filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(0%);
        inline-size: 100%;
        max-block-size: 100%;
        mix-blend-mode: multiply;
        object-fit: contain;
        padding: 5px;
        transition-property: filter;
      }

      // Hidden Checkbox Input
      > input {
        appearance: none;

        &:focus {
          outline: none;
        }
      }

      // Component Name
      > .name {
        text-align: center;
      }
    }

    @supports (grid-template-rows: subgrid) {
      grid-template-rows: 0 minmax(0, 1fr) auto;

      label {
        grid-row: span 3;
        grid-template-rows: subgrid;
      }
    }
  }

  h4 {
    @include section.heading-width;
    font-size: 1rem;
    margin-block: 0 0.5rem;
  }

  .setup {
    @include section.text-width;
  }

  // * Alt Layout: 1 row of small buttons * //
  @include section.text-width-breakpoint {
    > .component-select {
      background: transparent;
      justify-content: center;
      overflow: hidden;

      label > img {
        mix-blend-mode: normal;
      }
    }
  }

  // * Alt Layout: 1 row of larger buttons * //
  @include section.heading-width-breakpoint {
    > .component-select {
      // Only scale ~2/3rds of the height with text size, since the images should ideally remain constantly sized
      block-size: calc(64px + 6rem);
      border-radius: 16px;
      column-gap: 4px;
      grid-auto-columns: 10rem;
      grid-template-rows: calc(64px + 6rem);

      @supports (grid-template-rows: subgrid) {
        grid-template-rows: 0 minmax(0, 1fr) auto;
      }

      label {
        border-radius: 16px;
      }
    }
  }
}
