.component-toggle {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
  margin: 0.6rem 0rem;
  border-radius: 1rem;
  /* Scroll Shadow */
  background: linear-gradient(90deg, ivory 30%, rgba(255, 255, 255, 0)),
    linear-gradient(90deg, rgba(255, 255, 255, 0), ivory 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)) 0 100%;
  background-color: ivory;
  background-repeat: no-repeat;
  background-position: top left, top right, top left, top right;
  background-size: 2.5rem 100%, 2.5rem 100%, 1.25rem 100%, 1.25rem 100%;
  background-attachment: local, local, scroll, scroll;

  &:focus-visible {
    outline: 0.15rem dotted black;
    border-radius: 1rem;
  }

  section.inactive & {
    margin: 0;
  }

  > button {
    font-size: 1rem;
    flex: 0 0;
    background-color: transparent;
    border-radius: 1rem;
    padding: 0.1rem;
    cursor: pointer;
    height: 8rem;
    min-width: 8rem;
    margin: 0.4rem;
    /* Transitioned properties */
    color: darkgray;
    outline: 0.2rem dashed transparent;
    outline-offset: 0;
    border: 0.15rem dotted transparent;
    transition-property: background-color, color, outline, outline-offset, border;
    transition-duration: 80ms;
    transition-timing-function: ease-out;

    &:focus-visible {
      outline-offset: 0.15rem;
      border-color: black;
    }

    &.enabled {
      color: black;
      outline-color: black;

      &.locked {
        outline-color: black;
      }

      > img {
        filter: none;
      }
    }

    &.locked {
      outline: 0.15rem solid darkgray;
    }

    &.locked,
    &:disabled {
      cursor: auto;
    }

    &:hover:not(.locked):not(:disabled) {
      background-color: white;
    }

    section.inactive & {
      margin: 0;
      transition: none;
    }

    > img {
      width: 3rem;
      height: 3rem;
      mix-blend-mode: multiply;
      /* Transitioned properties */
      filter: grayscale(100%);
      transition-property: filter;
      transition-duration: inherit;
      transition-timing-function: inherit;
    }
  }

  &.large-labels > button > img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
