.count {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  flex-direction: column;
  text-align: center;

  &:not(:first-child) {
    border-left: 0.15rem solid black;
    padding-left: 1rem;
  }

  &:not(:last-child) {
    padding-right: 1rem;
  }

  > img {
    width: 3rem;
    height: 3rem;

    section.inactive & {
      filter: grayscale(100%);
    }
  }
}

@mixin large-screen {
  .count {
    flex-direction: row;

    > img {
      width: 5rem;
      height: 5rem;
      margin-right: 0.5rem;
    }
  }
}
