@use 'section';

.count {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;

  &:not(:first-child) {
    border-inline-start: 2px solid black;
    padding-inline-start: 1rem;

    section.inactive & {
      border-inline-start-color: darkgray;
    }
  }

  &:not(:last-child) {
    padding-inline-end: 1rem;
  }

  > img {
    block-size: 48px;
    filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(0%);
    inline-size: 48px;

    section.inactive & {
      filter: drop-shadow(1px 1px rgba(169, 169, 169, 0.5)) grayscale(100%);
    }
  }

  @include section.heading-width-breakpoint {
    flex-direction: row;

    > img {
      block-size: 80px;
      inline-size: 80px;
      margin-inline-end: 0.5rem;
    }
  }

  @include section.breakout-width-breakpoint {
    flex-direction: column;
    inline-size: 9rem;

    &:not(:first-child) {
      border-block-start: 2px solid black;
      border-inline-start: none;
      padding-block-start: 1rem;
      padding-inline-start: 0;

      section.inactive & {
        border-block-start-color: darkgray;
      }
    }

    &:not(:last-child) {
      padding-block-end: 1rem;
      padding-inline-end: 0;
    }

    > img {
      margin-inline-end: 0;
    }
  }
}
