.component-toggle {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-inline-size: 100%;
  flex-wrap: nowrap;
  overflow: auto;
  margin-block: 0.6rem;
  border-radius: 16px;
  /* Scroll Shadow */
  background:
    linear-gradient(90deg, ivory 30%, rgba(255, 255, 255, 0)),
    linear-gradient(90deg, rgba(255, 255, 255, 0), ivory 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)) 0 100%;
  background-color: ivory;
  background-repeat: no-repeat;
  background-position:
    top left,
    top right,
    top left,
    top right;
  background-size:
    40px 100%,
    40px 100%,
    20px 100%,
    20px 100%;
  background-attachment: local, local, scroll, scroll;

  &:focus-visible {
    outline: 2px dotted black;
  }

  > button {
    font-size: 1rem;
    flex: 0 0;
    background-color: transparent;
    border-radius: 16px;
    cursor: pointer;
    block-size: calc(5rem + 48px);
    margin: 6px;
    /* Transitioned properties */
    transition-property: background-color, color, outline, outline-offset, border;
    transition-duration: 80ms;
    transition-timing-function: ease-out;

    &:hover:not(.locked):not(:disabled) {
      background-color: white;
    }

    &:disabled {
      cursor: auto;
    }

    section.inactive & {
      margin: 0;
      transition: none;
    }

    > img {
      inline-size: 48px;
      block-size: 48px;
      mix-blend-mode: multiply;
      /* Transitioned properties */
      filter: drop-shadow(1px 1px rgba(169, 169, 169, 0.5)) grayscale(100%);
      transition-property: filter;
      transition-duration: inherit;
      transition-timing-function: inherit;
    }

    /* Enable/Disable All Button */
    &.toggle {
      min-inline-size: 5rem;
      padding-inline: 0.25rem;
      overflow-wrap: break-word;
      color: black;
      outline: 2px dotted transparent;
      outline-offset: -3px;
      border: 2px solid black;
      border-block: none;

      &:focus-visible {
        outline-offset: -5px;
        outline-color: black;
      }
    }

    /* Toggle Component Button */
    &:not(.toggle) {
      min-inline-size: 8rem;
      padding-block: calc(0.1 * 16px) 0.1rem;
      padding-inline: 0.1rem;
      color: darkgray;
      outline: 3px dashed transparent;
      outline-offset: 0;
      border: 2px dotted transparent;

      &:focus-visible {
        outline-offset: 2px;
        border-color: black;
      }

      &.enabled {
        color: black;
        outline-color: black;

        &.locked {
          outline-color: black;
        }

        > img {
          filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(0%);
        }
      }

      &.locked {
        cursor: auto;
        outline: 2px solid darkgray;
      }
    }
  }
}

@mixin resize-labels($label-size, $icon-size) {
  > button {
    block-size: calc($label-size + $icon-size);

    > img {
      inline-size: $icon-size;
      block-size: $icon-size;
    }
  }
}

@mixin large-screen {
  .component-toggle {
    @include resize-labels(4rem, 96px);
    flex-wrap: wrap;
    overflow: hidden;
    margin-block: 0.1rem;
    background: none;

    section.inactive & {
      margin-block: 0;
    }

    > button {
      margin: 14px;

      &:hover:not(.locked):not(:disabled) {
        background-color: ivory;
      }

      > img {
        flex: 0 0;
        margin-block: 8px 0.5rem;
        margin-inline: auto;
        mix-blend-mode: normal;
      }

      > .label {
        flex: 1 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        inline-size: 100%;
      }

      /* Enable/Disable All Button */
      &.toggle {
        min-inline-size: 10rem;
      }

      /* Toggle Component Button */
      &:not(.toggle) {
        min-inline-size: 10rem;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@mixin reduced-motion {
  .component-toggle > button {
    transition: none;
  }
}
