.toggle-carousel {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
  margin: 0.6rem 0rem;
  border-radius: 1rem;
  /* Scroll Shadow */
  background: linear-gradient(90deg, ivory 30%, rgba(255, 255, 255, 0)),
    linear-gradient(90deg, rgba(255, 255, 255, 0), ivory 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)) 0 100%;
  background-color: ivory;
  background-repeat: no-repeat;
  background-position: top left, top right, top left, top right;
  background-size: 2.5rem 100%, 2.5rem 100%, 1.25rem 100%, 1.25rem 100%;
  background-attachment: local, local, scroll, scroll;
}

.step-inactive .toggle-carousel {
  margin: 0;
}

.toggle-carousel:focus-visible {
  outline: 0.15rem dotted black;
  border-radius: 1rem;
}

.toggle-component {
  font-size: 1rem;
  flex: 0 0;
  background-color: transparent;
  border-radius: 1rem;
  padding: 0.1rem;
  cursor: pointer;
  height: 8rem;
  min-width: 8rem;
  margin: 0.4rem;
  /* Transitioned properties */
  color: darkgray;
  outline: 0.2rem dashed transparent;
  outline-offset: 0;
  border: 0.15rem dotted transparent;
  transition-property: background-color, color, outline, outline-offset, border;
  transition-duration: 80ms;
  transition-timing-function: ease-out;
}

.toggle-component:focus-visible {
  outline-offset: 0.15rem;
  border-color: black;
}

.toggle-component.enabled {
  color: black;
  outline-color: black;
}

.toggle-component.locked {
  outline: 0.15rem solid darkgray;
}

.toggle-component.enabled.locked {
  outline-color: black;
}

.toggle-component:hover:not(.locked):not(:disabled) {
  background-color: white;
}

.toggle-component.locked,
.toggle-component:disabled {
  cursor: auto;
}

.step-inactive .toggle-carousel .toggle-component {
  margin: 0;
  transition: none;
}

.toggle-image {
  width: 3rem;
  height: 3rem;
  mix-blend-mode: multiply;
  /* Transitioned properties */
  filter: grayscale(100%);
  transition-property: filter;
  transition-duration: inherit;
  transition-timing-function: inherit;
}

.toggle-large-labels .toggle-image {
  width: 2.5rem;
  height: 2.5rem;
}

.toggle-component.enabled .toggle-image {
  filter: none;
}
