@use 'section';

@mixin transition {
  transition-duration: 80ms;
  transition-timing-function: ease-out;
}

.component-toggle {
  // * Default layout: Scrollable list that takes up 1 row * //
  @include section.breakout-width;
  @include transition;
  // Scroll Shadow
  background:
    linear-gradient(90deg, ivory 30%, rgba(255, 255, 255, 0)),
    linear-gradient(90deg, rgba(255, 255, 255, 0), ivory 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)) 0 100%;
  background-attachment: local, local, scroll, scroll;
  background-color: ivory;
  background-position:
    top left,
    top right,
    top left,
    top right;
  background-repeat: no-repeat;
  background-size:
    40px 100%,
    40px 100%,
    20px 100%,
    20px 100%;
  border-radius: 16px;
  display: flex;
  margin-block: 0.6rem;
  outline: 2px dotted transparent;
  overflow-inline: scroll;
  overflow-block: hidden;
  padding: 6px;
  transition-property: outline-color;

  section.inactive & {
    padding: 0;
  }

  &:focus-visible {
    outline-color: black;
  }

  // Enable/Disable All Components Button
  > .controls {
    display: flex;
    flex: 0 0 5rem;
    flex-direction: column;
    gap: 6px;
    justify-content: center;

    > button {
      @include transition;
      background-color: transparent;
      border: 2px solid black;
      border-block: none;
      border-radius: 16px;
      color: black;
      cursor: pointer;
      inline-size: 100%;
      flex-grow: 1;
      font-size: 1rem;
      outline: 2px dotted transparent;
      outline-offset: -3px;
      overflow-wrap: break-word;
      padding-inline: 0.25rem;
      transition-property: background-color, outline-color, outline-offset;

      &:focus-visible {
        outline-color: black;
        outline-offset: -5px;
      }

      &:hover {
        background-color: white;
      }

      section.inactive & {
        transition: none;
      }
    }
  }

  // Component List
  > .components {
    // Only scale ~2/3rds of the height with text size, since the images should ideally remain constantly sized
    block-size: calc(48px + 5rem);
    column-gap: 3px;
    display: grid;
    grid-auto-columns: 8rem;
    grid-auto-flow: column;
    grid-template-rows: 0 minmax(0, 1fr) auto;
    justify-content: center;
    margin-inline-start: 3px;

    section.inactive & {
      column-gap: 0;
      margin-inline-start: 0;
    }

    > label {
      @include transition;
      border: 2px dotted transparent;
      border-radius: 16px;
      color: darkgray;
      display: grid;
      grid-row: span 3;
      grid-template-rows: subgrid;
      justify-items: center;
      // Account for outline position while focused
      margin: 5px;
      outline: 3px dashed transparent;
      outline-offset: 0;
      transition-property: background-color, color, outline, outline-offset, border;

      &:has(> input:enabled) {
        cursor: pointer;
        &:hover {
          background-color: white;
        }
      }

      &:has(> input:focus-visible) {
        outline-offset: 2px;
        border-color: black;
      }

      section.active &:has(> input:disabled) {
        outline: 2px solid darkgray;
      }

      section.active &:has(> input:checked) {
        color: black;
        outline-color: black;
      }

      section.inactive & {
        // Don't leave a margin for outlines if the selection is static
        margin: 0;
        transition: none;
      }

      // Component Image
      > img {
        @include transition;
        box-sizing: border-box;
        filter: drop-shadow(1px 1px rgba(169, 169, 169, 0.5)) grayscale(100%);
        inline-size: 100%;
        max-block-size: 100%;
        mix-blend-mode: multiply;
        object-fit: contain;
        padding: 5px;
        transition-property: filter;
      }

      // Hidden Checkbox Input
      > input {
        appearance: none;

        section.active &:checked + img {
          filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(0%);
        }

        &:focus {
          outline: none;
        }
      }

      // Component Name
      > .name {
        text-align: center;
      }
    }
  }

  // * Alt Layout: Scrollable list with larger buttons * //
  @include section.heading-width-breakpoint {
    > .controls {
      flex-basis: 7rem;
    }

    > .components {
      // Only scale ~2/3rds of the height with text size, since the images should ideally remain constantly sized
      block-size: calc(64px + 6rem);
      column-gap: 4px;
      grid-auto-columns: 10rem;
    }
  }

  // * Alt Layout: Grid of large buttons that wraps * //
  @include section.breakout-width-breakpoint {
    background: transparent;
    flex-direction: column;
    gap: 16px;
    overflow-inline: hidden;
    padding: 0;

    > .controls {
      flex-basis: 2rem;
      flex-direction: row;
      gap: 8px;

      > button {
        background-color: ivory;
        border: none;
        border-block-end: 2px black solid;
        border-radius: 11px;
        flex-grow: 0;
        inline-size: unset;
        outline-offset: -2px;
        padding-inline: 1rem;
        pointer-events: auto;
        transition-duration: 80ms;
        transition-property: background-color, color, border, outline;
        transition-timing-function: ease-out;

        &:focus-visible {
          outline-offset: -2px;
        }
      }
    }

    > .components {
      block-size: 100%;
      gap: 6px;
      grid-auto-columns: unset;
      grid-auto-flow: row;
      // Set the image height so that the buttons are square when 1rem=16px and labels cover 2 lines
      grid-auto-rows: 0 calc(141px - 2lh) auto;
      grid-template-columns: repeat(auto-fit, 10rem);
      grid-template-rows: unset;
      margin-block: auto;
      margin-inline-start: 0;

      section.inactive & {
        // Maintain current sizing when inactive
        gap: 6px;
      }

      > label {
        > img {
          mix-blend-mode: normal;
        }
        > .name {
          min-block-size: 2lh;
        }
      }
    }
  }
}
