@use 'section';

@mixin transition {
  transition-duration: 80ms;
  transition-timing-function: ease-out;
}

.faction-select {
  @include section.breakout-width;
  @include transition;
  // Scroll Shadow
  background:
    linear-gradient(90deg, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(90deg, rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)) 0 100%;
  background-attachment: local, local, scroll, scroll;
  background-color: white;
  background-position:
    top left,
    top right,
    top left,
    top right;
  background-repeat: no-repeat;
  background-size:
    2.5rem 100%,
    2.5rem 100%,
    1.25rem 100%,
    1.25rem 100%;
  // Only scale ~1/2 of the height with text size, since the images should ideally remain constantly sized
  block-size: calc(4rem + 92px);
  border-radius: 8px;
  box-sizing: border-box;
  column-gap: 5px;
  display: grid;
  grid-auto-columns: 9rem;
  grid-auto-flow: column;
  grid-template-rows: 0 minmax(0, 1fr) auto;
  inline-size: 100%;
  margin-block-start: 0.6rem;
  outline: 2px dotted transparent;
  overflow-inline: scroll;
  overflow-block: hidden;
  padding: 6px;
  transition-property: outline-color;

  &:focus-visible {
    outline-color: black;
  }

  label {
    @include transition;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    display: grid;
    grid-row: span 3;
    grid-template-rows: subgrid;
    justify-items: center;
    mix-blend-mode: multiply;
    outline: 2px dotted transparent;
    outline-offset: -2px;
    padding: 3px;
    transition-property: background-color, border, outline, outline-offset;

    &:has(> input:checked) {
      border-color: black;
    }

    &:has(> input:focus-visible) {
      outline-color: black;
      outline-offset: -5px;
    }

    &:hover {
      background-color: ivory;
    }

    &.locked {
      background-color: gainsboro;

      section.active & > .image-frame > img {
        filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(50%);
      }
    }

    &.locked,
    section.inactive & {
      color: darkgray;
      cursor: auto;
    }

    section.active & {
      > .title {
        background-color: #5a5b5f;
        color: white;
      }

      &.militant > .title {
        background-color: #a4153b;
      }
    }

    section.inactive & {
      background-color: transparent;

      &:has(> input:checked) {
        border-color: darkgray;
      }

      > .image-frame > img {
        filter: drop-shadow(1px 1px rgba(169, 169, 169, 0.5)) grayscale(100%);
      }
    }

    // Faction Image
    > .image-frame {
      inline-size: 100%;
      margin-block: 4px;
      margin-inline: auto;
      // Position relatively to allow positioning captain images relative to the frame
      position: relative;

      > img {
        @include transition;
        filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(0%);
        object-fit: contain;
        transition-property: filter;

        &.warrior {
          block-size: 100%;
          inline-size: 100%;
        }

        &.captain {
          block-size: 33.33%;
          position: absolute;

          &:nth-last-child(4),
          &:nth-last-child(3) {
            inset-block-start: 25%;
          }
          &:nth-last-child(2),
          &:nth-last-child(1) {
            inset-block-end: 0;
          }
          &:nth-last-of-type(even) {
            inset-inline-start: 0;
          }
          &:nth-last-of-type(odd) {
            inset-inline-end: 0;
          }
        }
      }
    }

    // Hidden Radio Input
    > input {
      appearance: none;

      &:focus {
        outline: none;
      }
    }

    // Faction Name
    > .title {
      border-radius: 8px;
      display: flex;
      inline-size: 100%;
      justify-content: center;
      text-align: center;

      > .label {
        margin-inline: 0.1rem;

        > .militant-icon {
          block-size: 0.75rem;
        }
      }
    }
  }

  // * Alt Layout: Scrollable list with larger buttons * //
  @include section.heading-width-breakpoint {
    // Only scale ~1/2 of the height with text size, since the images should ideally remain constantly sized
    block-size: calc(4.5rem + 108px);
    border-radius: 16px;
    grid-auto-columns: 10.5rem;

    label {
      border-radius: 16px;

      > .title {
        border-radius: 16px;

        > .label {
          margin-inline: 0.25rem;
        }
      }
    }
  }
}
