.faction-select {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-inline-size: 100%;
  flex-wrap: nowrap;
  overflow: auto;
  margin-block-start: 0.6rem;
  padding-block: 5px;
  border-radius: 8px;
  /* Scroll Shadow */
  background:
    linear-gradient(90deg, white 30%, rgba(255, 255, 255, 0)),
    linear-gradient(90deg, rgba(255, 255, 255, 0), white 70%) 0 100%,
    radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0)) 0 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-position:
    top left,
    top right,
    top left,
    top right;
  background-size:
    2.5rem 100%,
    2.5rem 100%,
    1.25rem 100%,
    1.25rem 100%;
  background-attachment: local, local, scroll, scroll;

  &:focus-visible {
    outline: 2px dotted black;
  }

  button {
    font-size: 1rem;
    flex: 0 0;
    display: flex;
    flex-direction: column;
    background: none;
    border-radius: 8px;
    padding: 3px;
    cursor: pointer;
    block-size: calc(4rem + 80px);
    min-inline-size: 9rem;
    color: black;
    margin-inline: 5px;
    mix-blend-mode: multiply;
    will-change: opacity;
    /* Transitioned properties */
    outline: 2px dotted transparent;
    outline-offset: -2px;
    border: 2px solid transparent;
    background-color: white;
    transition-property: outline, outline-offset, border, background-color;
    transition-duration: 80ms;
    transition-timing-function: ease-out;

    &:focus-visible {
      outline-color: black;
      outline-offset: -5px;
    }

    &.selected {
      border-color: black;
    }

    &:hover {
      background-color: ivory;
    }

    &:active {
      background-color: cornsilk;
    }

    &.locked {
      background-color: gainsboro;

      > .image-frame > img {
        filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(50%);
      }
    }

    &.locked,
    &:disabled {
      cursor: auto;
      color: darkgray;
    }

    &:disabled {
      background-color: transparent;

      &.selected {
        border-color: darkgray;
      }

      > .image-frame > img {
        filter: drop-shadow(1px 1px rgba(169, 169, 169, 0.5)) grayscale(100%);
      }
    }

    &:not(:disabled) {
      > .title {
        color: white;
        background-color: #5a5b5f;
      }

      &.militant > .title {
        background-color: #a4153b;
      }
    }

    > .image-frame {
      // Position relatively to allow positioning captain images relative to the frame
      position: relative;
      inline-size: 80px;
      block-size: 80px;
      flex: 0 0;
      margin-block: 4px;
      margin-inline: auto;

      > img {
        /* Transitioned properties */
        transition-property: filter;
        transition-duration: inherit;
        transition-timing-function: inherit;
        filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(0%);

        &.warrior {
          inline-size: 100%;
          block-size: 100%;
        }

        &.captain {
          position: absolute;
          inline-size: 33.33%;
          block-size: 33.33%;

          &:nth-last-child(4),
          &:nth-last-child(3) {
            inset-block-start: 30%;
          }
          &:nth-last-child(2),
          &:nth-last-child(1) {
            inset-block-end: 0;
          }
          &:nth-last-of-type(even) {
            inset-inline-start: -30%;
          }
          &:nth-last-of-type(odd) {
            inset-inline-end: -30%;
          }
        }
      }
    }

    > .title {
      flex: 1 0;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      inline-size: 100%;

      > .label {
        margin-inline: 0.1rem;

        > .militant-icon {
          block-size: 0.75rem;
        }
      }
    }
  }

  &.large-labels button {
    block-size: calc(5rem + 64px);

    > .image-frame {
      inline-size: 64px;
      block-size: 64px;
    }
  }
}

@mixin large-screen {
  .faction-select {
    border-radius: 16px;

    button {
      block-size: calc(4.5rem + 96px);
      min-inline-size: 10.5rem;
      border-radius: 16px;

      > .image-frame {
        inline-size: 96px;
        block-size: 96px;
      }

      > .title {
        border-radius: 16px;

        > .label {
          margin-inline: 0.25rem;
        }
      }
    }

    &.large-labels button {
      block-size: calc(5rem + 88px);

      > .image-frame {
        inline-size: 88px;
        block-size: 88px;
      }
    }
  }
}

@mixin reduced-motion {
  .faction-select button {
    transition: none;
  }
}
