header {
  align-items: center;
  display: flex;
  flex-flow: column;
  inline-size: 100%;
  justify-content: center;
  padding-block-start: 1rem;

  > img {
    font-size: 25vw;
    max-width: 24rem;
    max-height: 6rem;
    // Properties for Fallback text
    text-align: center;
    text-transform: uppercase;
    // Allow the logo to shrink if the screen is smaller than 24rem
    width: 100%;
  }

  > h1 {
    font-size: 8.5vw;
    font-variant: small-caps;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }

  /* If the screen is large enough for the logo to be at max size, then set the logo alt and subtitle to full size */
  @media (min-width: 24rem) {
    > img {
      font-size: 6rem;
    }

    > h1 {
      font-size: 2rem;
    }
  }
}
