@use 'section';

.language-select {
  align-items: center;
  border: none;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  margin-block: 0.5rem;
  margin-inline: 0;
  padding: 0;

  > .legend {
    display: inline-block;
  }

  label {
    margin-inline: calc(0.33 * 16px);

    &:first-of-type {
      margin-inline-start: 0.33rem;
    }

    > img {
      block-size: 16px;
      border-radius: 2px;
      cursor: pointer;
      filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(50%);
      margin-block-start: 0.25rem;
      outline: 2px solid transparent;
      transition: outline 80ms ease-out;

      &:hover {
        outline-color: darkgray;
      }

      &:active {
        outline-color: lightgray;
      }
    }

    > input {
      appearance: none;

      &:checked + img {
        cursor: default;
        filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(0%);
        outline-color: transparent;
      }

      &:focus {
        outline: none;
      }

      &:focus-visible + img {
        outline-color: darkgray;
      }
    }
  }

  @include section.text-width-breakpoint {
    font-size: 1rem;

    label {
      &:first-of-type {
        margin-inline-start: 1rem;
      }

      > img {
        block-size: 22px;
      }
    }
  }
}
