@use 'section';

.map {
  @include section.heading-width;
  display: block;

  .background {
    block-size: 100%;
    inline-size: 100%;
    mix-blend-mode: multiply;
    opacity: 0.5;
  }

  #flooded-mask {
    mask-type: alpha;
  }

  image {
    section.inactive & {
      filter: grayscale(100%);
    }

    &.landmark {
      filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5)) grayscale(0%);

      section.inactive & {
        filter: drop-shadow(1px 1px rgba(169, 169, 169, 0.5)) grayscale(100%);
      }
    }
  }
}
