.number-container {
  margin-top: 0.75rem;
  display: flex;
}

.number-label {
  padding-right: 0.5rem;
}

.number-button {
  font-size: 1.25rem;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 1rem;
  border-radius: 0.25rem;
  background-color: transparent;
  transition: background-color 80ms ease-out;
}

.number-button:hover {
  background-color: ivory;
}

.number-button:active {
  background-color: cornsilk;
}

.number {
  font-size: 1.25rem;
  text-align: center;
  width: 2rem;
  background: none;
  border: none;
  padding: 0;
  border-radius: 0.25rem;
}

.number-value {
  font-size: 1.25rem;
  text-align: center;
  width: 2rem;
  padding: 0 1rem;
}

.number-button:focus-visible,
.number:focus-visible {
  outline: 0.15rem dotted black;
}
