.number {
  display: flex;
  margin-block-start: 0.75rem;

  button {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.25rem;
    inline-size: 1rem;
    padding: 0;
    transition: background-color 80ms ease-out;

    &:hover {
      background-color: ivory;
    }

    &:active {
      background-color: cornsilk;
    }
  }

  button:focus-visible,
  > input:focus-visible {
    outline: 2px dotted black;
  }

  > input {
    background: none;
    border: none;
    border-radius: 4px;
    font-size: 1.25rem;
    inline-size: 2rem;
    padding: 0;
    text-align: center;

    &:disabled {
      color: darkgray;
    }
  }

  > label {
    padding-inline-end: 0.5rem;
  }
}
