@use 'section';

.radio {
  align-items: flex-start;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-start: 0.75rem;
  margin-inline-start: 0;
  padding: 0;

  label {
    cursor: pointer;
    display: flex;

    &:has(> input:disabled) {
      cursor: auto;
    }

    > input {
      // Override the default radio appearance
      appearance: none;
      background-color: transparent;
      block-size: 18px;
      border: 2px solid black;
      border-radius: calc(infinity * 1px);
      display: grid;
      flex: none;
      inline-size: 18px;
      place-content: center;
      transform: translateY(0.16rem);
      transition: 80ms background-color ease-out;

      &:enabled:hover {
        background-color: white;
      }

      &:active:enabled {
        background-color: cornsilk;
      }

      &::before {
        block-size: 10px;
        border-radius: calc(infinity * 1px);
        box-shadow: inset 1rem 1rem transparent;
        clip-path: polygon(14% 44%, 0% 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        content: '';
        inline-size: 10px;
        transition-property: box-shadow;
        transition-duration: inherit;
        transition-timing-function: inherit;

        section.inactive & {
          transition: none;
        }

        @media (forced-colors: active) {
          background-color: CanvasText;
        }
      }

      &:checked::before {
        box-shadow: inset 1rem 1rem black;
      }

      &:disabled {
        border-color: darkgray;

        &::before {
          box-shadow: inset 1rem 1rem darkgray;
        }
      }

      &:focus-visible {
        outline: 2px dotted black;
        outline-offset: 1px;
      }
    }

    > .text {
      padding-inline-start: 0.5rem;
    }
  }

  @include section.text-width-breakpoint {
    flex-direction: row;
    gap: 1rem;

    label > .text {
      max-inline-size: 32ch;

      section.inactive & {
        max-inline-size: unset;
      }
    }
  }
}
