section {
  line-height: 1.5;
  margin: 1rem;

  &.inactive {
    color: darkgray;
  }

  > h2 {
    line-height: 1.1;
    font-size: 2rem;
    font-weight: 400;
    font-variant: small-caps;
    margin-block: 0 0.5rem;
  }

  > h3 {
    font-size: 1rem;
    margin-block: 0 0.5rem;
  }

  > ol {
    margin-inline-start: 1.2rem;
  }

  ol {
    max-inline-size: 65ch;
    margin-block: 0.5rem;
    padding-inline-start: 1.2rem;

    > li {
      margin-block: 0.5rem;

      &::marker {
        font-style: italic;
      }
    }
  }

  .text {
    max-inline-size: 65ch;
    margin-inline-start: 1.2rem;

    &.centered {
      margin-inline: auto;
    }
  }

  p {
    max-inline-size: 65ch;
    margin-block: 0.5rem;
  }
}
