@use 'section';

.stat {
  border-inline-start: 2px solid black;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  min-inline-size: 10rem;
  padding-block-end: 0.5rem;

  section.inactive & {
    border-inline-start-color: darkgray;
  }

  > .label {
    font-style: italic;
    margin-inline-start: 0.25rem;
  }

  > .low {
    background-color: lightgray;
    font-size: 0.8rem;
    inline-size: 3rem;
    overflow: visible;
    padding-block: 0.1rem 0;
    padding-inline: 0.25rem 0;
    text-transform: uppercase;
    transition: width 0.25s ease-in-out;

    section.inactive & {
      background-color: whitesmoke;
    }
  }

  > .moderate {
    @extend .low;
    inline-size: 6rem;
  }

  > .high {
    @extend .low;
    inline-size: 9rem;
  }

  @include section.heading-width-breakpoint {
    min-inline-size: 12rem;

    > .label {
      font-size: 1.1rem;
    }

    > .low {
      font-size: 0.9rem;
      inline-size: 3.5rem;
    }

    > .moderate {
      @extend .low;
      inline-size: 7rem;
    }

    > .high {
      @extend .low;
      inline-size: 10.5rem;
    }
  }

  @include section.breakout-width-breakpoint {
    flex: 0 0;
    min-inline-size: 14rem;
    padding-block-end: 0.66rem;

    > .label {
      font-size: 1.2rem;
      margin-block: 0 0.2rem;
      margin-inline: 0.33rem 0;
    }

    > .low {
      font-size: 1rem;
      inline-size: 4rem;
      padding-block: 0.25rem 0.2rem;
      padding-inline: 0.33rem 0;
    }

    > .moderate {
      @extend .low;
      inline-size: 8rem;
    }

    > .high {
      @extend .low;
      inline-size: 12rem;
    }
  }
}
