.stat {
  min-width: 10rem;
  flex: 1 0;
  border-left: 0.15rem solid black;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;

  section[inert] & {
    border-left-color: darkgray;
  }

  > .label {
    font-style: italic;
    margin-left: 0.25rem;
  }

  > .low,
  > .moderate,
  > .high {
    font-size: 0.8rem;
    text-transform: uppercase;
    overflow: visible;
    padding: 0.1rem 0 0 0.25rem;
    background-color: lightgray;
    transition: width 0.25s ease-in-out;
    width: 3rem;

    section[inert] & {
      background-color: whitesmoke;
    }
  }

  > .moderate {
    width: 6rem;
  }

  > .high {
    width: 9rem;
  }
}

@mixin large-screen {
  .stat {
    min-width: 14rem;
    flex: 0 0;
    padding-bottom: 0.66rem;

    > .label {
      font-size: 1.2rem;
      margin: 0 0 0.2rem 0.33rem;
    }

    > .low,
    > .moderate,
    > .high {
      font-size: 1rem;
      padding: 0.25rem 0 0.2rem 0.33rem;
      width: 4rem;
    }

    > .moderate {
      width: 8rem;
    }

    > .high {
      width: 12rem;
    }
  }
}

@mixin reduced-motion {
  .stat {
    > .low,
    > .moderate,
    > .high {
      transition: none;
    }
  }
}
