.stat {
  min-inline-size: 10rem;
  flex: 1 0;
  border-inline-start: 2px solid black;
  padding-block-end: 0.5rem;
  display: flex;
  flex-direction: column;

  section.inactive & {
    border-inline-start-color: darkgray;
  }

  > .label {
    font-style: italic;
    margin-inline-start: 0.25rem;
  }

  > .low,
  > .moderate,
  > .high {
    font-size: 0.8rem;
    text-transform: uppercase;
    overflow: visible;
    padding-block: 0.1rem 0;
    padding-inline: 0.25rem 0;
    background-color: lightgray;
    transition: width 0.25s ease-in-out;
    inline-size: 3rem;

    section.inactive & {
      background-color: whitesmoke;
    }
  }

  > .moderate {
    inline-size: 6rem;
  }

  > .high {
    inline-size: 9rem;
  }
}

@mixin large-screen {
  .stat {
    min-inline-size: 14rem;
    flex: 0 0;
    padding-block-end: 0.66rem;

    > .label {
      font-size: 1.2rem;
      margin-block: 0 0.2rem;
      margin-inline: 0.33rem 0;
    }

    > .low,
    > .moderate,
    > .high {
      font-size: 1rem;
      padding-block: 0.25rem 0.2rem;
      padding-inline: 0.33rem 0;
      inline-size: 4rem;
    }

    > .moderate {
      inline-size: 8rem;
    }

    > .high {
      inline-size: 12rem;
    }
  }
}

@mixin reduced-motion {
  .stat {
    > .low,
    > .moderate,
    > .high {
      transition: none;
    }
  }
}
