main {
  max-inline-size: 100%;
  margin-block: 0 4rem;
  margin-inline: auto;

  @media (min-width: calc(65ch * 1.5)) {
    max-inline-size: calc(65ch * 1.5);
  }
}

@mixin large-screen {
  main {
    margin-block-end: 5rem;
  }
}
