.toast {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgoldenrodyellow;
  /* Transitioned properties */
  transform: translateY(0%);
  transition: 250ms transform ease-in-out;

  &[inert] {
    transform: translateY(-100%);
  }

  > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;
    max-inline-size: 80rem;
    padding: 0.33rem;

    > .message {
      font-size: 1.5rem;
      margin-block: 0.25rem;
      margin-inline: auto;
      padding-inline: 1.35rem;
    }

    > button {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      block-size: 1.35rem;
      inline-size: 1.35rem;
      margin-inline-start: -1.35rem;
      padding: 0.25rem;
      color: black;
      transition: color 80ms ease-out;

      &:focus-visible {
        outline: 2px dotted black;
        border-radius: 4px;
      }

      &:hover {
        color: dimgray;
      }

      &:active {
        color: darkgray;
      }

      .close-icon {
        inline-size: 100%;
      }
    }
  }
}

@mixin large-screen {
  .toast > .container {
    > .message {
      font-size: 2rem;
      margin-block: 0.5rem;
      margin-inline: auto;
      padding-inline: 2.25rem;
    }

    > button {
      block-size: 2.25rem;
      inline-size: 2.25rem;
      margin-inline-start: -2.25rem;
      padding: 0.5rem;
    }
  }
}

@mixin reduced-motion {
  .toast {
    transition: none;

    > .container > button {
      transition: none;
    }
  }
}
