@use 'section';

.toast {
  align-items: center;
  background: lightgoldenrodyellow;
  display: flex;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  justify-content: center;
  position: fixed;
  transform: translateY(0%);
  transition: 250ms transform ease-in-out;

  &[inert] {
    transform: translateY(-100%);
  }

  > .container {
    align-items: center;
    display: flex;
    flex: 1 0;
    justify-content: center;
    max-inline-size: 80rem;
    padding: 0.33rem;

    > .message {
      font-size: 1.5rem;
      margin-block: 0.25rem;
      margin-inline: auto;
      padding-inline: 1.35rem;
    }

    > button {
      align-items: center;
      background: none;
      block-size: 1.35rem;
      border: none;
      color: black;
      cursor: pointer;
      display: flex;
      inline-size: 1.35rem;
      margin-inline-start: -1.35rem;
      padding: 0.25rem;
      transition: color 80ms ease-out;

      &:focus-visible {
        border-radius: 4px;
        outline: 2px dotted black;
      }

      &:hover {
        color: dimgray;
      }

      &:active {
        color: darkgray;
      }

      .close-icon {
        inline-size: 100%;
      }
    }

    @include section.heading-width-breakpoint {
      > .message {
        font-size: 2rem;
        margin-block: 0.5rem;
        margin-inline: auto;
        padding-inline: 2.25rem;
      }

      > button {
        block-size: 2.25rem;
        inline-size: 2.25rem;
        margin-inline-start: -2.25rem;
        padding: 0.5rem;
      }
    }
  }
}
