.toast {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgoldenrodyellow;
  /* Transitioned properties */
  transform: translateY(0%);
  transition: 250ms transform ease-in-out;

  &.hidden {
    transform: translateY(-100%);
  }

  > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;
    max-width: 80rem;
    padding: 0.33rem;

    > .message {
      font-size: 1.5rem;
      margin: 0.25rem auto;
      padding: 0 1.35rem;
    }

    > button {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 1.35rem;
      width: 1.35rem;
      margin-left: -1.35rem;
      padding: 0.25rem;
      color: black;
      transition: color 80ms ease-out;

      &:focus-visible {
        outline: 0.15rem dotted black;
        border-radius: 0.25rem;
      }

      &:hover {
        color: dimgray;
      }

      &:active {
        color: darkgray;
      }
    }
  }
}

@mixin large-screen {
  .toast > .container {
    > .message {
      font-size: 2rem;
      margin: 0.5rem auto;
      padding: 0 2.25rem;
    }

    > button {
      height: 2.25rem;
      width: 2.25rem;
      margin-left: -2.25rem;
      padding: 0.5rem;
    }
  }
}

@mixin reduced-motion {
  .toast {
    transition: none;

    > .container > button {
      transition: none;
    }
  }
}
