footer {
  display: flex;
  justify-content: center;
  position: fixed;
  inset-block-end: 0;
  inline-size: 100%;
  pointer-events: none;

  > .toolbar {
    inline-size: 80rem;
    padding: 1rem;

    > .left {
      float: inline-start;
    }

    > .right {
      float: inline-end;
    }

    > :not(:last-child) {
      margin-inline-end: 0.5rem;
    }
  }
}

@mixin large-screen {
  footer > .toolbar > :not(:last-child) {
    margin-inline-end: 1rem;
  }
}
