@use 'section';

footer {
  container-type: inline-size;
  display: flex;
  inline-size: 100%;
  inset-block-end: 0;
  justify-content: center;
  pointer-events: none;
  position: fixed;

  > .toolbar {
    inline-size: 80rem;
    padding: 1rem;

    > .left {
      float: inline-start;
    }

    > .right {
      float: inline-end;
    }

    > :not(:last-child) {
      margin-inline-end: 0.5rem;

      @include section.heading-width-breakpoint {
        margin-inline-end: 1rem;
      }
    }
  }
}
