.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: auto;
}

.expansion {
  color: black;
  height: 16rem;
  min-width: 12rem;
  margin: 1rem;
  flex: 0;
  background: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.expansion.base {
  border: 0.25rem solid black;
}

.expansion.enabled {
  border: 0.25rem solid darkred;
}

.expansion:disabled {
  cursor: auto;
}
