.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow: auto;
}

.expansion {
  color: black;
  height: 16em;
  min-width: 12em;
  margin: 1em;
  flex: 1;
  background: none;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

.expansion:disabled {
  border: 0.25em solid black;
  cursor: auto;
}

.enabled {
  border: 0.25em solid darkred;
}
