@use 'css/button';
@use 'css/captainInfo';
@use 'css/checkbox';
@use 'css/componentCount';
@use 'css/componentSelect';
@use 'css/componentToggle';
@use 'css/factionInfo';
@use 'css/factionSelect';
@use 'css/header';
@use 'css/icon';
@use 'css/languageSelect';
@use 'css/mapChart';
@use 'css/numberSelector';
@use 'css/radiogroup';
@use 'css/section';
@use 'css/statBar';
@use 'css/stepList';
@use 'css/toast';
@use 'css/toolbar';

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background: ivory url('./images/background.jpg') top;
  background-size: 1280px;
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}

button,
input {
  font-family: 'Libre Baskerville', serif;
}

$loading-size: 160px;
$loading-thickness: 12px;
.loading {
  animation: rotate 1s infinite linear;
  block-size: $loading-size;
  border: $loading-thickness solid transparent;
  border-radius: 50%;
  border-inline-end-color: black;
  inline-size: $loading-size;
  inset-block-start: 50%;
  inset-inline-end: 50%;
  $margin: calc(-1 * ($loading-size / 2 + $loading-thickness));
  margin-block-start: $margin;
  margin-inline-end: $margin;
  position: fixed;
}

noscript {
  inset-block-start: 50%;
  inline-size: 100%;
  margin-block-start: $loading-size;
  position: fixed;
  text-align: center;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

::selection {
  color: black;
  background: lightgray;
}
