@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  font-family: "Libre Baskerville", serif;
}

*::selection {
  color: black;
  background: lightgray;
}

body {
  margin: 0;
  font-size: 16px;
  background: ivory url("./images/background.jpg") top;
  background-size: 80rem;
}

#root {
  min-height: 100vh;
}

#loading {
  width: 10rem;
  height: 10rem;
  margin: auto;
  border: 0.75rem solid transparent;
  border-radius: 50%;
  border-right-color: black;
  animation: rotate 1s infinite linear;
}

noscript {
  text-align: center;
  margin-bottom: auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
