@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  font-family: "Libre Baskerville", serif;
}

body {
  margin: 0;
  font-size: 16px;
  background: url("./images/background.jpg") top;
  background-size: 80rem;
}
