.carousel {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 100%;
  flex-wrap: nowrap;
  overflow: auto;
  margin: 0.6rem 0rem;
}

.carousel.inactive {
  margin: 0;
}

.carousel:focus-visible {
  outline: 0.15rem dotted black;
  border-radius: 1rem;
}

.component {
  font-size: 1rem;
  flex: 0 0;
  background-color: transparent;
  border-radius: 1rem;
  padding: 0.1rem;
  cursor: pointer;
  height: 8rem;
  min-width: 8rem;
  margin: 0.4rem;
  /* Transitioned properties */
  color: darkgray;
  outline: 0.2rem dashed transparent;
  outline-offset: 0;
  border: 0.15rem dotted transparent;
  transition-property: background-color, color, outline, outline-offset, border;
  transition-duration: 80ms;
  transition-timing-function: ease-out;
}

@media (prefers-reduced-motion) {
  .component {
    transition: none;
  }
}

.component:focus-visible {
  outline-offset: 0.15rem;
  border-color: black;
}

.component.enabled {
  color: black;
  outline-color: black;
}

.component.locked {
  outline: 0.15rem solid darkgray;
}

.component.enabled.locked {
  outline-color: black;
}

.component:hover:not(.locked):not(:disabled) {
  background-color: ivory;
}

.component.locked,
.component:disabled {
  cursor: auto;
}

.carousel.inactive .component {
  margin: 0;
  transition: none;
}

.image {
  width: 3rem;
  height: 3rem;
  /* Transitioned properties */
  filter: grayscale();
  transition-property: filter;
  transition-duration: inherit;
  transition-timing-function: inherit;
}

.component.enabled .image {
  filter: none;
}

@media (min-width: 992px) {
  .carousel {
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0.1rem 0rem;
  }

  .component {
    height: 10rem;
    min-width: 10rem;
    margin: 0.9rem;
    display: flex;
    flex-direction: column;
  }

  .image {
    width: 6rem;
    height: 6rem;
    flex: 0 0;
    margin: 0.5rem auto;
  }

  .label {
    flex: 1 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
}
