.container {
  margin-top: 0.75rem;
  display: flex;
}

.label {
  padding-right: 0.5rem;
}

.button {
  font-size: 1.25rem;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 1rem;
  border-radius: 0.25rem;
  background-color: transparent;
  transition: background-color 80ms ease-out;
}

@media (prefers-reduced-motion) {
  .button {
    transition: none;
  }
}

.button:hover {
  background-color: ivory;
}

.button:active {
  background-color: beige;
}

.input {
  font-size: 1.25rem;
  text-align: center;
  width: 2rem;
  background: none;
  border: none;
  padding: 0;
  border-radius: 0.25rem;
}

.value {
  font-size: 1.25rem;
  text-align: center;
  width: 2rem;
  padding: 0 1rem;
}

.button:focus-visible,
.input:focus-visible {
  outline: 0.15rem dotted black;
}
