.container {
  margin-top: 0.75rem;
  display: flex;
}

.label {
  margin-right: 0.5rem;
}

.input {
  font-size: 1.25rem;
  background: none;
  border: none;
}

.input:focus-visible {
  outline: 0.15rem dotted black;
  outline-offset: -0.1rem;
}

.value {
  font-size: 1.25rem;
  padding-left: 0.5rem;
}
